@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap'); /* Fonte que simula dígitos de 7 segmentos */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#visualizarModal {
  color: #000;
}
        .dashboard-section {
            background-color: #ffffff; /* Fundo branco */
            color: #333; /* Texto preto suave */
            padding: 20px;
            max-height: 400px; /* Defina o máximo de altura desejada */
    overflow: hidden;  /* Evita que conteúdo extra role */
            margin-bottom: 10px;
            border-radius: 8px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
        }
        
        #inputPlacar {
          transition: all 0.3s ease;
      }
      
      #btnSalvarPlacar {
          transition: all 0.3s ease;
      }

        canvas {
    width: 100%;
    height: auto;  /* Ajusta a altura para o gráfico não expandir */
}


        .dashboard-section h2 {
            color: #e74c3c; /* Título em vermelho suave */
            font-size: 1.5rem;
            margin-bottom: 15px;
        }

        h3, .event-dates, .local {
          line-height: 1.5; /* Aumenta o espaço entre as linhas */
      }

        /* Remove a margem apenas do título Gráfico de Jogos */
.grafico h2 {
  margin: -10px;
}

        .dashboard-section ul {
            list-style-type: none;
            padding-left: 0;
        }

        .dashboard-section ul li {
            color: #555;
            margin-bottom: 10px;
        }


        .placar-display {
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: 'VT323', monospace; /* Fonte estilo 7 segmentos */
          font-size: 4rem; /* Tamanho do texto do placar */
          color: #ff0000; /* Cor dos números */
          background-color: #000000; /* Fundo do placar */
          padding: 10px 20px;
          border-radius: 15px; /* Bordas arredondadas */
          width: fit-content;
          margin: 0 auto;
        }
        
        .digito-separador {
          font-size: 4rem; /* Aumenta o tamanho do separador para dar mais destaque */
          color: #ff0000;
          margin: 0 10px; /* Aumenta o espaçamento do separador (-) */
        }
        
        .digito {
          display: inline-block;
          width: 5rem; /* Ajusta a largura dos dígitos para comportar 3 números */
          height: 6rem; /* Ajusta a altura dos dígitos */
          background-color: #333; /* Fundo dos dígitos */
          color: #ff0000; /* Cor dos dígitos */
          border-radius: 8px; /* Bordas arredondadas dos dígitos */
          line-height: 6rem; /* Centraliza verticalmente o texto dentro dos dígitos */
          text-align: center; /* Centraliza o texto dentro dos dígitos */
          font-weight: bold; /* Destaca os dígitos */
          margin: 0 5px; /* Espaçamento ajustado entre os dígitos */
          text-shadow: 2px 2px 3px #000000; /* Sombra para destacar mais os números */
        }

        .historico-card-events {
          padding: 23px !important;
        }

        .event-card-events {
          padding: 20px !important;
        }

        .local {
          font-size: 16px; 
        }


        /* Estilo dos cards */
        .event-card, .event-card-events, .jogos-card-events, .historico-card-events {
            flex: 0 0 auto;
            width: 220px;
            padding: 16px;
            border-radius: 8px;
            background-color: #e4e5e7;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
            color: #070606;
            text-align: center;
            transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
        }

        .event-card, .event-card-events {
          flex: 0 0 auto;
          width: 220px;
          padding: 16px;
          border-radius: 8px;
          background-color: #b9c9df;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
          color: #ffffff;
          text-align: center;
          transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
      }

        .event-card:hover, .event-card-events:hover, .jogos-card-events:hover, .historico-card-events:hover{
            transform: scale(1.08); /* Aumenta levemente ao passar o mouse */
            background-color: #a4bde0; /* Muda a cor do fundo */
        }

        .teamlogo {
          width: 50px;
          height: 50px;
          object-fit: contain;
        }
        /* Outros ajustes */
        #event-cards-container, #jogos-cards-container, #historico-cards-container {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            gap: 16px;
            padding: 18px;
            box-sizing: border-box;
        }

/* Centraliza a mensagem e o botão dentro do contêiner de eventos */
.no-events-message {
padding-left: 110px;
}

/* Estilos para o botão */
.no-events-button {
  padding-left: 45px;
  margin-top: 10px; /* Adiciona um espaçamento entre a mensagem e o botão */
}
        
        #aniversariantes {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

/* Adicione esse estilo ao seu CSS */
#show-game {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

#start-button {
  display: none; /* Inicialmente oculto */
}


.game {
  display: none;
  border-bottom: 1px solid;
  height: 300px;
  width: 800px;
  position: relative;
  overflow: hidden;
}

.score {
  position: absolute;
  top: 30px;
  left: 0;
  font-size: x-large;
}

.dino {

  position: absolute;
  bottom: 0;
  background-image: url(../assets/touro.gif);
  width: 280px;
  height: 170px;
  background-size: 280px;
  background-repeat: no-repeat;
}



.cacto {
  position: absolute;
  bottom: 0;
  background-image: url(../assets/cacto.png);
  width: 35px;
  height: 70px;
  background-size: 35px;
  background-repeat: no-repeat;
  animation: cacto 3s linear infinite;
}

@keyframes cacto {
  0% {
    right: -20px;
  }
  100% {
    right: 850px;
  }
}

.jump {
  animation: jump 1.1s linear;
}

@keyframes jump {
  0% {
    bottom: 0;
  }

  30% {
    bottom: 80px;
  }

  50% {
    bottom: 100px;
  }

  80% {
    bottom: 80px;
  }

  100% {
    bottom: 0;
  }
}

